<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="autodetect">

    <bean id="detectService" class="com.mo2christian.recognition.detect.service.DetectService" init-method="init">
        <property name="defaultMinScore" value="0.6"/>
    </bean>

</beans>